<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?w=740&t=st=1686815157~exp=1686815757~hmac=c4866fce00161510410dbbaf34d3dffaf96267de65ffe224812e040c42da3848">
        <div class="purpleBox">
          <p class="purpleText">
            Smartsell was designed with the objective to provide customer a hassel free shopping experience.
          </p>
          <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
        </div>
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText">
          About Me
        </p>
        <p class="text-blk subHeadingText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-blk description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum pulvinar ullamcorper suspendisse ac eget. Pellentesque tempus leo in ullamcorper quis vestibulum ligula elementum ut.
        </p>
        <a class="explore">
          View Services
        </a>
      </div>
    </div>
  </div>