<!-- As a link -->
<nav class="navbar navbar-light bg-green">
    <a class="navbar-brand" style="color: rgba(239, 249, 248, 0.925);"><h3>SmartSell</h3></a>
  </nav>  
<section class="hero">
    <div class="container">
      <div class="hero-content">
        <h1>Welcome to Our Online Store</h1>
        <p>Discover a wide range of products at affordable prices.</p>
       
      </div>
      <div class="hero-image">
        <img src="assets\Pictures\product-02.jpg" alt="Hero Image">
        <img src="assets\Pictures\product-11.jpg" alt="Hero Image">
        
        <!-- <img src="assets\Pictures\product-02.jpg" alt="Hero Image"> -->
      </div>
      <br>
      <br>
     <div class="hero-content">
  <a [routerLink]="['/login']" class="btn">Login</a></div>
</div>
<br>
<footer class="footer">
  <nav class="navbar navbar-light bg-green justify-content-center">
    <a class="navbar-brand" style="color: rgba(239, 249, 248, 0.925);"></a>
    <p class="footer-text">&copy; 2023 Your Website. All rights reserved.</p>
  </nav>
</footer>


     
 